body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #f0f8ff, #dbeeff);
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #023e8a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #03045e;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1, h2 {
    color: #0077b6;
}
